-# %ul#dropdown.dropdown-content
-#   %li
-#     = link_to 'Find', rooms_path
-#   %li
-#     = link_to 'Create', new_room_path
%nav.custom-nav
  .nav-wrapper
    .brand-logo.left.hide-on-small-only
      = link_to image_tag('apollo_logo_large.png'), root_path, class: 'logo'
    %ul#nav-mobile.right
      -if current_user
        %li
          = link_to 'FYF', fyf_path
        %li
          = link_to 'About', about_path
        %li
          = link_to 'Log Out', destroy_user_session_path, method: 'delete'
        %li
          = link_to 'Rooms', rooms_path
      -else
        %li
          = link_to 'FYF', fyf_path
        %li
          = link_to 'About', about_path
        %li
          = link_to 'Login', new_user_session_path
        %li
          = link_to 'Sign Up', new_user_registration_path
