!!!
%html
  %head
    %meta{title: "Apollo - Play Music, Together.", description: "A modern answer to the jukebox, built for the digital age.", keywords: ['apollo music', 'apollo music app', 'apolloapollo', 'apollo spotify']}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "notranslate", :name => "google"}/
    %meta{:content => "en_US", "http-equiv" => "Content-Language"}/
    %title Apollo
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
  %body
    .page-wrap
      = render 'layouts/navbar'
      - flash.each do |flash|
        %script
          Materialize.toast("#{flash[1]}", 4000);
      = yield
    = render 'layouts/footer'
